.Position_Header {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;

  padding-top: 80px;
}
body .Position_Header ul {
  margin: 0;
  padding: 0;
}

.Neutron_Text {
  color: #858688;
  font-size: 30px;
  font-family: "Titillium Web";
  font-weight: bold;
}
.Mail_Text {
  color: #5b4295;
}
.Language_Select {
  flex-basis: 25%;
}
.Language {
  padding: 0;

  font-size: 14px;
  letter-spacing: 0px;
  line-height: 56px;
  font-family: "Titillium Web";
}
.Language a {
  color: #959595;
}
.Language a:hover {
  text-decoration: underline;
  font-weight: bold;
}

ul.Language li.Select {
  color: #959595;
  text-decoration: underline;
  font-weight: bold;
}

ul.Language li + li::before {
  padding: 8px;

  color: black;
  content: "/";
}

.Position_Header ul li {
  display: inline;
}
.Position_Header ul li a {
  text-decoration: none;
}

.Navigation_Login {
  flex-basis: 50%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-size: 16px;
  letter-spacing: 0px;
  line-height: 56px;
  color: #454545;
  font-family: "Titillium Web";
}

.Navigation_Login li + li::before {
  padding: 10px;
  content: "";
}
.Navigation_Login a {
  color: black;
}
.Navigation_Login img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.Navigation a:hover {
  text-decoration: underline;
  padding: 10px;
  border-radius: 5px;
  background-color: #f6f4f7;
  font-weight: bolder;
}
.Log_in {
  font-weight: bolder;
  padding-left: 10px;
}
.Sing_up {
  padding: 10px 15px;

  font-weight: bolder;
  color: #ffffff;
  border-radius: 20px;
  width: 94px;
  height: 40px;
  box-shadow: 0px 7px 9px rgba(142, 117, 222, 0.15);
  background-color: #582c7e;
  background: linear-gradient(to bottom right, #60326c, #646c93);
}
.Social_Network {
  display: flex;
  flex-direction: column;
  position: fixed;

  top: 50%;
  right: 35px;

  border-radius: 5px;
  text-decoration: none;
}
.Social_Network div {
  padding: 0px 0px 20px 0px;
}

.Social_Network img {
  width: 25px;
  right: 25px;
}
.Main_Position {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
div .Secure_Create {
  align-self: stretch;

  height: 800px;
  background-image: url(./Picture/neut.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.Secure {
  padding-top: 180px;
  text-align: center;
}
.Secure_Create span {
  font-size: 40px;
  letter-spacing: 1px;
  color: #454545;
  font-family: "Titillium Web";
}
.Secure_Create span .Somewhere {
  color: #fc444a;
}
.Secure h1 {
  font-size: 60px;
  letter-spacing: 1px;
  color: #454545;
  font-family: "Titillium Web";
  font-weight: 600;
  margin: 0;
}
.Create {
  padding-top: 80px;
  padding-bottom: 400px;  
  flex-basis: 50%;
}

a.Create_Account {
  width: 246px;
  height: 56px;
  border-radius: 28px;
  box-shadow: 0px 7px 9px rgba(100, 115, 151, 0.15);
  background-color: #5f2966;
  color: white;
  padding: 20px 60px;
  margin-right: 20px;
  text-decoration: none;
  background: linear-gradient(to right, #646c93, #60326c);
}
.Create img {
  width: 30px;
  height: 30px;
  padding: 15px 15px;
  margin-right: 20px;
  vertical-align: middle;
  background-color: #5f2966;
  background: linear-gradient(to right, #646c93, #60326c);
  border-radius: 100px;
}
div.Swiss_Double_Anonymous{
  padding: 0px 200px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;  
}
.Swiss_Double_Anonymous ul{
  padding: 0;
  margin: 0;
  list-style: none;
  }
.Swiss_Double_Anonymous li{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.Swiss_Double_Anonymous img{
  margin-right: 15px;
}
.Text_Format h3{
  padding: 0;
  margin: 0;
}
